.style_captchaContainer__LdFYB{
    display: flex !important;
    justify-content: space-between;
    align-items: center !important;
}
.style_captchaContainer{
   width: 150px !important;
    border-radius: 5px !important;
}