/* .form--title{
    font-size: 16px;
    color: #212121;
} */
.form--login,.form--login .link{
    font-size: 14px;
    color:  #616161;
    font-weight: 500;
    font-family: "IRANYEKANMEDIUM",sans-serif;
    text-align: center;
}
/* .link{
    text-decoration: none !important;
    color: #0050E5 !important;
} */
/* .div--captcha{
    background-color:#F2F6FE ;
    border-radius: 5px !important;
} */
.btn--recaptcha{
    outline: none;
    border: none;
    background: none !important;
}
/* .captcha--label{
    color: #9E9E9E;
    font-size: 16px;
    font-weight: 400;
    font-family: "IRANYEKANMEDIUM",sans-serif;
} */
.input--style ,.input--style:hover{
    outline: none;
    border: 1px solid #9E9E9E;
    background: #FFFFFF;
    border-radius: 5px !important;
    padding: 10px 10px;
}