@font-face {
  font-family: "IRANYEKANLIGHT";
  src: local("IRANYEKANLIGHT"),
  url("../src/assets/fonts/Qs_Iranyekan light.ttf") format("ttf");
}


@font-face {
  font-family: "IRANYEKANMEDIUM";
  src: local("IRANYEKANMEDIUM"),
  url("../src/assets/fonts/Qs_Iranyekan medium.ttf") format("ttf");
}

@font-face {
  font-family: "IRANYEKANBOLD";
  src: local("IRANYEKANBOLD"),
  url("../src/assets/fonts/Qs_Iranyekan bold.ttf") format("ttf");
}

